* {
    font-family: 'Oswald', sans-serif;
}

a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    text-transform: uppercase;
}

body {
    color: white;
    margin: 0;
    height: 100%;
    position: relative;
}

button {
    background: none;
    cursor: pointer;
    font-size: 1.37em;
    outline: none;
    padding: 0 10px;
    text-decoration: none;
    text-transform: uppercase;
}

h1 {
    font-size: 4em;
    margin: 0;
    text-transform: uppercase;
    word-wrap: break-word;
}

h2 {
    font-size: 3em;
    margin: 0;
    text-transform: uppercase;
    word-wrap: break-word;
}

h3 {
    font-size: 2.34em;
    margin: 0;
    text-transform: uppercase;
    word-wrap: break-word;
}

h4 {
    font-size: 2em;
    margin: 0;
    text-transform: uppercase;
    word-wrap: break-word;
}

h5 {
    font-size: 1.66em;
    font-weight: normal;
    margin: 0;
    text-transform: uppercase;
    word-wrap: break-word;
}

h6 {
    font-size: 1.33em;
    font-weight: normal;
    margin: 0;
    text-transform: uppercase;
    word-wrap: break-word;
}

img {
    max-width: 100%;
}

input {
    font-family: Arial;
}

p {
    margin: 0;
    text-transform: uppercase;
}

td {
    padding: 0 10px;
}

textarea {
    font: 13.3333px Arial;
    resize: vertical;
}

a.black-button,
button.black-button {
    border: 2px solid black;
    background: none;
    color: black;
    cursor: pointer;
    font-size: 1.37em;
    outline: none;
    padding: 0 10px;
    text-decoration: none;
    text-transform: uppercase;
}

.center-block {
    margin: 0 auto;
}

.inline-link {
    margin: 0;
    text-decoration: underline;
    text-transform: none;
}

.no-uppercase {
    text-transform: none;
}