#contact-technical-skills {
    border: 1px solid white;
    box-shadow: 1px 1px 1px #159d6b;
    color: white;
    text-shadow: 1px 1px 1px #159d6b;
}

.language-block, .os-block, .technology-block {
    margin: 10px 0;
}

.languages-container, .os-container, .technologies-container {
    margin: 50px 0;
}

#technical-skills {
    background-size: auto 100%;
    position: relative;
    width: 100%;
}

#technical-skills-content {
    background-color: rgba(68, 229, 170, 0.9);
    color: white;
    padding-bottom: 100px;
    padding-top: 100px;
    text-align: center;
    text-shadow: 1px 1px 1px #159d6b;
}

@media (min-width: 577px) {
    .language, .os {
        display: inline-block;
        text-align: right;
        width: 150px;
    }

    .language-skill-level, .os-skill-level {
        display: inline-block;
        text-align: left;
        width: 150px;
    }
}

@media (min-width: 769px) {
    .technology {
        display: inline-block;
        text-align: right;
        width: 300px;
    }

    .technology-skill-level {
        display: inline-block;
        text-align: left;
        width: 300px;
    }
}