<div id="education">
    <h2 class="section-title">Education</h2>

    <div id="taylor-container">
        <img src="/static/img/taylor_trojans.jpg" alt="Taylor Trojans" id="taylor-trojans">
        <div id="taylor-text">
            <h3 id="taylor-label">Taylor University</h3>
            <h6 id="taylor-location">Upland, IN</h6>
            <h6>Computer Science/Systems, B.S. (2014-2018)</h6>
            <h5>Grade Point Average (GPA): 3.97</h5>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-4 col-lg-5 offset-xl-2 offset-lg-1 col-12 education-award">
                <img src="/static/img/award.png" alt="Award">
                <h5><i>Summa cum laude</i></h5>
            </div>
            <div class="col-xl-4 col-lg-5 col-12 education-award">
                <img src="/static/img/award.png" alt="Award">
                <h5>Outstanding Computer Science<br>& Engineering Service</h5>
            </div>
        </div>
    </div>

    <h3 class="section-title">Coursework</h3><br>

    <div class="center-button">
        <a href="https://github.com/johnluscombe/coursework" class="black-button" target="_blank"
           rel="noopener">
            View Coursework Repository
        </a>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-8 col-12 course">
                <img src="/static/img/window.png" alt="Computer Window" class="course-image">
                <div>
                    <h5 class="course-title">Multi-Tier Web Application Development</h5>
                    <h6 class="no-uppercase">
                        As the focus of programming switches from the traditional desktop to web-based applications,
                        learning how to develop for the web is getting increasingly critical. This essential course
                        taught me exactly that. Throughout the semester, I was taught the skills necessary to develop a
                        full-stack web application. Using Ruby on Rails as a framework, I learned the ins-and-outs of
                        the MVC architecture to separate implementation concerns, as well as how to apply it to create
                        useful, dynamic web applications.
                    </h6>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-8 offset-xl-4 col-12 course-right">
                <div>
                    <h5 class="course-title">Database Systems</h5>
                    <h6 class="no-uppercase">
                        Databases are the backbone to the data that is becoming increasingly valuable in our
                        hyperconnected world. There are many types of databases available, so it is very useful to know
                        which type best serves a particular business problem. This class taught me the pros and cons
                        of each type of database, as well as the details of how they work. That way, I can look at a
                        business problem or a set of data, and effectively determine which database would provide the
                        most benefits.
                    </h6>
                </div>
                <img src="/static/img/database.png" alt="Database" class="course-image-right">
            </div>
        </div>

        <div class="row">
            <div class="col-xl-8 col-12 course">
                <img src="/static/img/aires.png" alt="Security" class="course-image">
                <div>
                    <h5 class="course-title">Senior Project</h5>
                    <h6 class="no-uppercase">
                        For my senior project, I led a team of five developers (including myself) on a project called
                        Aires. As I mentioned in the "Projects" section of this page, Aires is an game contest server
                        that allows AIs to battle each other in a variety of games (such as Battleship and Checkers) to
                        determine the champion. Throughout a January term, our team spent over 150 hours improving the
                        existing codebase, and reporting daily to the professor. This gave me a great sense of what
                        leading a team of developers would be like in a work environment. After the Senior Project class
                        in January, I continued the project myself throughout the following Spring term. To see the
                        source code of the Aires project, click the link below.
                    </h6>
                    <p class="project-links">
                        <a href="https://github.com/PastyPurpleTrolls/game-contest-server"
                           class="project-link-left" target="_blank" rel="noopener">
                            Aires
                        </a>
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-8 offset-xl-4 col-12 course-right">
                <div>
                    <h5 class="course-title">Computer and Network Security</h5>
                    <h6 class="no-uppercase">
                        Implementing advanced security precautions into applications is no longer optional. With
                        sophisticated attacks such as WannaCry and Petya becoming increasingly common, it is essential
                        for developers to know defensive programming techniques. Throughout this course, I completed
                        several projects that taught me the inner workings of common attacks, such as Cross-Site Request
                        Forgery (CSRF), Cross-Site Scripting (XSS), and SQL Injection, as well as how to discover and
                        patch vulnerabilities. Knowing the details of how these attacks work has equipped me to write
                        software that defends against such attacks. Click the link below to see the projects I completed
                        in this course.
                    </h6>
                    <p class="project-links">
                        <a href="https://github.com/johnluscombe/coursework/tree/master/cos232"
                           class="project-link-right" target="_blank" rel="noopener">
                            View Project Files
                        </a>
                    </p>
                </div>
                <img src="/static/img/security.jpg" alt="Security" class="course-image-right">
            </div>
        </div>

        <div class="row">
            <div class="col-xl-8 col-12 course">
                <img src="/static/img/code.jpg" alt="Code" class="course-image">
                <div>
                    <h5 class="course-title">Software Engineering</h5>
                    <h6 class="no-uppercase">
                        As developers are aware, actual coding is not the only piece to software development, not by a
                        long shot. Taylor's Software Engineering course gave me exposure to the other pieces to the
                        software development lifecycle, such as requirements-gathering, designing, and testing. Not only
                        that, it also helped me understand the vast benefits of agile development through a
                        semester-long group project. I was selected as a leader of the team, so I was also able to
                        improve my leadership through project management.
                    </h6>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-8 offset-xl-4 col-12 course-right">
                <div>
                    <h5 class="course-title">Software Studio</h5>
                    <h6 class="no-uppercase">
                        Like Software Engineering, Software Studio helped me gain real-world expertise in software
                        development. However, unlike Software Engineering, this course was much more focused on the
                        actual coding and less on the other parts of software development. Throughout the entire
                        semester, I spent 12 hours a week helping to develop a Django web application for Tiny Hands, a
                        Christian non-profit organization. This course really helped me further my understanding of
                        what software development was like outside of an academic setting.
                    </h6>
                </div>
                <img src="/static/img/software.png" alt="software" class="course-image-right">
            </div>
        </div>

        <div class="row">
            <div class="col-xl-8 col-12 course">
                <img src="/static/img/isa.jpg" alt="Information Systems Analysis" class="course-image">
                <div>
                    <h5 class="course-title">Information Systems Analysis</h5>
                    <h6 class="no-uppercase">
                        When starting a project as a software developer, it is easy to fall into the trap of jumping
                        straight into the programming phase of the project. As a result, not enough thought, if any, is
                        given to the analysis phase. Unfortunately, this almost always ends up in an inferior product
                        and an unhappy customer. This course has taught me the ins and outs of gathering requirements,
                        various types of modeling, business process reengineering, and other important parts to the
                        analysis of an information system. Most importantly, as the final project for the class, I
                        helped develop a business proposal (BP), systems requirements specification (SRS) document, and
                        professional presentation for a real-world project with a team of five people.
                    </h6>
                    <p class="project-links">
                        <a href="/static/doc/isa_bp.pdf" class="project-link-left" target="_blank" rel="noopener">
                            View BP
                        </a>
                        <a href="/static/doc/isa_srs.pdf" class="project-link-left" target="_blank" rel="noopener">
                            View SRS
                        </a>
                        <a href="/static/doc/isa_presentation.pdf" class="project-link-left" target="_blank"
                           rel="noopener">
                            View Presentation
                        </a>
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-8 offset-xl-4 col-12 course-right">
                <div>
                    <h5 class="course-title">Mobile Application Development</h5>
                    <h6 class="no-uppercase">
                        In a world that is getting increasingly mobile, knowing how to create applications for
                        smartphones is a highly valued skill. However, simply getting an application working doesn't cut
                        it in our highly competitive society. Throughout this course, I learned how to use Android
                        Studio to create rich, powerful applications that effectively utilize smartphone features,
                        without unnecessarily compromising performance and power efficiency.
                    </h6>
                </div>
                <img src="/static/img/mobile.jpg" alt="iPhone" class="course-image-right">
            </div>
        </div>

        <div class="row">
            <div class="col-xl-8 col-12 course">
                <img src="/static/img/data-communications.jpg" alt="Network Cables" class="course-image">
                <div>
                    <h5 class="course-title">Data Communications</h5>
                    <h6 class="no-uppercase">
                        As more and more applications become available to consumers, developers are growing increasingly
                        dependent on the internet. Unfortunately, far too few developers actually know the details of
                        how the internet works, and how data gets from point A to point B. This course has taught me
                        these essential details, from the concepts of data transmission to communication protocols, and
                        has better equipped me to develop and debug internet applications. Click the link below to see
                        the projects I completed in this course.
                    </h6>
                    <p class="project-links">
                        <a href="https://github.com/johnluscombe/coursework/tree/master/cos331" class="project-link-left"
                           target="_blank" rel="noopener">
                            View Project Files
                        </a>
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-8 offset-xl-4 col-12 course-right">
                <div>
                    <h5 class="course-title">Language Structures</h5>
                    <h6 class="no-uppercase">
                        If a hammer is the only tool that a craftsman knows how to use, he will not be
                        effective at his job. Similarly, if a programmer only knows one language paradigm,
                        he will not know how to solve certain problems efficiently. In addition to teaching
                        me how different programming languages are structured, this course also taught me some
                        of the different language paradigms, and how to determine which one best solves a
                        particular problem. For the final project, me and two other teammates created a domain-specific
                        language that makes it easy to generate HTML quizzes. You can see the source
                        code by clicking the link below.
                    </h6>
                    <p class="project-links">
                        <a href="https://github.com/johnluscombe/coursework/tree/master/cos382/html_quiz_generator"
                           class="project-link-right" target="_blank" rel="noopener">
                            HTML Quiz Generator
                        </a>
                        <a href="https://github.com/johnluscombe/coursework/tree/master/cos382/assignments"
                           class="project-link-right" target="_blank" rel="noopener">
                            Other Project Files
                        </a>
                    </p>
                </div>
                <img src="/static/img/structure.jpg" alt="Structure" class="course-image-right">
            </div>
        </div>

        <div class="row">
            <div class="col-xl-8 col-12 course">
                <img src="/static/img/fractal.jpg" alt="Fractal" class="course-image">
                <div>
                    <h5 class="course-title">Data Structures and Algorithms</h5>
                    <h6 class="no-uppercase">
                        As time goes on, consumers are getting increasingly impatient with devices and applications with
                        poor performance. What's worse, far too many programmers are entirely focused with getting their
                        content published, without giving a second thought to the efficiency of their programs. Not only
                        did this class introduce me to several of the data structures and algorithms that give these
                        applications an edge in performance, it also taught me how to use discern which ones to use in
                        order to maximize efficiency and minimize computational complexity.
                    </h6>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-8 offset-xl-4 col-12 course-right">
                <div>
                    <h5 class="course-title">Operations Research</h5>
                    <h6 class="no-uppercase">
                        The key to being an excellent leader in the workforce is having a strong ability to make
                        informed decisions. This course taught me how to use linear programming to make these decisions,
                        given a set of variables, constraints, and an objective (such as maximizing profit or minimizing
                        cost). Learning this skill has given me the toolset needed to make intelligent decisions, and
                        in turn become a much more effective leader in the workplace.
                    </h6>
                </div>
                <img src="/static/img/operations-research.jpg" alt="Operations Research" class="course-image-right">
            </div>
        </div>

        <div class="row">
            <div class="col-xl-8 col-12 course">
                <img src="/static/img/phci.jpg" alt="Principles of Human Computer Interaction" class="course-image">
                <div>
                    <h5 class="course-title">Principles of Human Computer Interaction</h5>
                    <h6 class="no-uppercase">
                        As our society becomes increasingly digital, people are interacting with computers more and
                        more, in one form or another. So, it is crucial for software developers to know how to build
                        user interfaces and experiences that facilitate this interaction. This class not only helped me
                        develop this valuable skill, it also taught me how to apply the idea of people-centered design
                        to my work in software development.
                    </h6>
                </div>
            </div>
        </div>
    </div>

    <div class="center-button">
        <button type="button" class="black-button" data-toggle="modal" data-target="#contactModal">Contact Me</button>
    </div>
</div>