<div id="footer">
    <p><small>
        <sup>1</sup> Martin, Robert. <em>Clean Code</em>. Pearson Education, 2009.
    </small></p><br>
    <div>
        <a href="#about-me" class="footer-link">
            <strong>About Me</strong>
        </a>
        <a href="#projects" class="footer-link">
            <strong>Projects</strong>
        </a>
        <a href="#work-history" class="footer-link">
            <strong>Work History</strong>
        </a>
        <a href="#education" class="footer-link">
            <strong>Education</strong>
        </a>
        <a href="#technical-skills" class="footer-link">
            <strong>Technical Skills</strong>
        </a>
        <a href="#work-history" class="footer-link" data-toggle="modal" data-target="#contactModal">
            <strong>Contact Me</strong>
        </a>
    </div><br>
    <div class="social-media">
        <a href="https://www.facebook.com/john.luscombe.180" target="_blank"><i class="fa fa-facebook"></i></a>
        <a href="https://www.linkedin.com/in/john-luscombe-932a43106/" target="_blank"><i class="fa fa-linkedin"></i></a>
        <a href="mailto:jluscombe96@gmail.com"><i class="fa fa-envelope-o" target="_blank"></i></a>
    </div><br>
    <div id="copyright">
        <p>© 2017 John Luscombe. All rights reserved.</p>
    </div>
</div>