<nav id="navbar">
    <div id="navbar-brand">
        <h4 id="navbar-brand-text">John Luscombe</h4>
    </div>

    <div id="navbar-links">
        <a href="#about-me">About Me</a>
        <a href="#projects">Projects</a>
        <a href="#work-history">Work History</a>
        <a href="#education">Education</a>
        <a href="#technical-skills">Technical Skills</a>
    </div>

    <button type="button" id="contact-navbar" data-toggle="modal" data-target="#contactModal">Contact</button>

    <i id="burger" class="fa fa-bars" aria-hidden="true" onclick="openSidebar()"></i>
</nav>