<div id="overview">
    <div id="overview-content">
        <img src="/static/img/profile.jpg" alt="John Luscombe" id="profile">

        <div class="text-block">
            <h1>Hi, I'm John</h1>
        </div>

        <div class="text-block">
            <h3>Software Developer</h3>
            <h5>at <a href="http://www.radiantsolutions.com/" class="inline-link" target="_blank" rel="noopener">RADIANT SOLUTIONS</a></h5>
        </div>

        <div class="text-block">
            <h3>Scroll to learn more</h3>
        </div>
    </div>
</div>