<div id="projects">
    <h2>Projects</h2>
    <div class="container-fluid">
        <div class="project-container">
            <h3>Aires</h3>
            <img src="/static/img/aires_screenshot.png" alt="Giftlet" class="project-image">
            <h3>Battling it out, AI style</h3>
            <h6 class="no-uppercase">
                Aires is an game contest server that allows AIs to battle each other in a variety of games
                (such as Battleship and Checkers) to determine whose is the champion. What's great about
                Aires is that these contests are not constrained to a predetermined subset of games - it
                allows professors to write custom referees, so Aires can support any type of game imaginable.
                While the foundations of this application were already set, there were a number of
                show-stopping bugs that needed to be addressed, as well as a lack of visualizations for users
                to understand what was going on. So, for several months, I worked to iron out these bugs and
                add these visualizations, so that professors could begin using it at the end of the Spring term.
            </h6>
        </div>
        <div class="project-container">
            <h3>Automated Grader for Intro Computer Science Course</h3>
            <img src="/static/img/automated_grader.png" alt="Automated Grader" class="project-image">
            <h3>Revolutionizing the grading and learning process</h3>
            <h6 class="no-uppercase">
                As teachers and TA's know, there are many problems to manual grading, especially in a Computer
                Science course. It's slow, tedious, and error-prone. If there's more than one person grading
                assignments, there can be horrendous inconsistencies. Students who have never programmed before
                often don't know to look for certain conditions or edge-cases, leading to disappointment and
                frustration. To address these concerns, I developed an automated grader for my school's
                introductory Computer Science course. Results were outstanding - TA's were able to grade in a
                fraction of the time, grades were much more consistent, and students knew right away if they
                solved the problem completely. This tool revolutionized the grading process, and students
                learned to become better programmers.
            </h6>
        </div>
        <div class="project-container">
            <h3>Luscombe & Associates Invoice Website</h3>
            <img src="/static/img/invoice_website.png" alt="Invoice Website" class="project-image">
            <h3>Making invoice management a breeze</h3>
            <h6 class="no-uppercase">
                For a business whose employees only include the family, keeping the invoice on an Excel
                spreadsheet is <em>okay</em>, but not ideal. Formatting and formulas are difficult to set up
                properly, and they are very easily messed up. So, I created a web application for our family
                to store and process these invoices. Employees can add and submit invoices, managers can
                override pay information and mark invoices as paid, and administrators can edit any of the
                data. This web application has been used for many months now, and it has revolutionized the
                way the business handles invoices.
            </h6>
        </div>
    </div>

    <button type="button" id="contact-projects" data-toggle="modal" data-target="#contactModal">Contact Me</button>
</div>