<div id="technical-skills">
    <div id="technical-skills-content">
        <h2>Technical Skills</h2>

        <div class="container-fluid languages-container">
            <h4>Languages</h4><br>

            <div class="row">
                <div class="language-block col-xxl-4 col-lg-6 col-12">
                    <h5 class="language">Python</h5>
                    <div class="meter-background">
                        <div class="meter">
                            <div class="meter-needle-180"></div>
                        </div>
                    </div>
                    <h6 class="language-skill-level">Expert</h6>
                </div>

                <div class="language-block col-xxl-4 col-lg-6 col-12">
                    <h5 class="language">Ruby</h5>
                    <div class="meter-background">
                        <div class="meter">
                            <div class="meter-needle-180"></div>
                        </div>
                    </div>
                    <h6 class="language-skill-level">Expert</h6>
                </div>

                <div class="language-block col-xxl-4 col-lg-6 col-12">
                    <h5 class="language">HTML/CSS</h5>
                    <div class="meter-background">
                        <div class="meter">
                            <div class="meter-needle-180"></div>
                        </div>
                    </div>
                    <h6 class="language-skill-level">Expert</h6>
                </div>

                <div class="language-block col-xxl-4 col-lg-6 col-12">
                    <h5 class="language">C#</h5>
                    <div class="meter-background">
                        <div class="meter">
                            <div class="meter-needle-135"></div>
                        </div>
                    </div>
                    <h6 class="language-skill-level">Advanced</h6>
                </div>

                <div class="language-block col-xxl-4 col-lg-6 col-12">
                    <h5 class="language">Java</h5>
                    <div class="meter-background">
                        <div class="meter">
                            <div class="meter-needle-135"></div>
                        </div>
                    </div>
                    <h6 class="language-skill-level">Advanced</h6>
                </div>

                <div class="language-block col-xxl-4 col-lg-6 col-12">
                    <h5 class="language">JavaScript</h5>
                    <div class="meter-background">
                        <div class="meter">
                            <div class="meter-needle-90"></div>
                        </div>
                    </div>
                    <h6 class="language-skill-level">Intermediate</h6>
                </div>

                <div class="language-block col-xxl-4 col-lg-6 col-12">
                    <h5 class="language">PHP</h5>
                    <div class="meter-background">
                        <div class="meter">
                            <div class="meter-needle-90"></div>
                        </div>
                    </div>
                    <h6 class="language-skill-level">Intermediate</h6>
                </div>

                <div class="language-block col-xxl-4 col-lg-6 col-12">
                    <h5 class="language">SQL</h5>
                    <div class="meter-background">
                        <div class="meter">
                            <div class="meter-needle-90"></div>
                        </div>
                    </div>
                    <h6 class="language-skill-level">Intermediate</h6>
                </div>
            </div>
        </div>

        <div class="container-fluid technologies-container">
            <h4>Technologies</h4><br>

            <div class="row">
                <div class="technology-block col-12">
                    <h5 class="technology">JetBrains Suite</h5>
                    <div class="meter-background">
                        <div class="meter">
                            <div class="meter-needle-180"></div>
                        </div>
                    </div>
                    <h6 class="technology-skill-level">Expert</h6>
                </div>

                <div class="technology-block col-12">
                    <h5 class="technology">PostgreSQL</h5>
                    <div class="meter-background">
                        <div class="meter">
                            <div class="meter-needle-135"></div>
                        </div>
                    </div>
                    <h6 class="technology-skill-level">Advanced</h6>
                </div>

                <div class="technology-block col-12">
                    <h5 class="technology">MySQL</h5>
                    <div class="meter-background">
                        <div class="meter">
                            <div class="meter-needle-90"></div>
                        </div>
                    </div>
                    <h6 class="technology-skill-level">Intermediate</h6>
                </div>

                <div class="technology-block col-12">
                    <h5 class="technology">Microsoft Visual Studio</h5>
                    <div class="meter-background">
                        <div class="meter">
                            <div class="meter-needle-90"></div>
                        </div>
                    </div>
                    <h6 class="technology-skill-level">Intermediate</h6>
                </div>

                <div class="technology-block col-12">
                    <h5 class="technology">Amazon Web Services</h5>
                    <div class="meter-background">
                        <div class="meter">
                            <div class="meter-needle-90"></div>
                        </div>
                    </div>
                    <h6 class="technology-skill-level">Intermediate</h6>
                </div>

                <div class="technology-block col-12">
                    <h5 class="technology">Heroku</h5>
                    <div class="meter-background">
                        <div class="meter">
                            <div class="meter-needle-90"></div>
                        </div>
                    </div>
                    <h6 class="technology-skill-level">Intermediate</h6>
                </div>
            </div>
        </div>

        <div class="container-fluid os-container">
            <h4>Operating Systems</h4><br>

            <div class="row">
                <div class="os-block col-xxl-4 col-12">
                    <h5 class="os">OS X</h5>
                    <div class="meter-background">
                        <div class="meter">
                            <div class="meter-needle-180"></div>
                        </div>
                    </div>
                    <h6 class="os-skill-level">Expert</h6>
                </div>

                <div class="os-block col-xxl-4 col-12">
                    <h5 class="os">Windows</h5>
                    <div class="meter-background">
                        <div class="meter">
                            <div class="meter-needle-180"></div>
                        </div>
                    </div>
                    <h6 class="os-skill-level">Expert</h6>
                </div>

                <div class="os-block col-xxl-4 col-12">
                    <h5 class="os">Linux</h5>
                    <div class="meter-background">
                        <div class="meter">
                            <div class="meter-needle-90"></div>
                        </div>
                    </div>
                    <h6 class="os-skill-level">Intermediate</h6>
                </div>
            </div>
        </div>

        <button type="button" id="contact-technical-skills" data-toggle="modal" data-target="#contactModal">Contact Me
        </button>
    </div>
</div>