<div id="work-history">
    <h2>Work History</h2>

    <div class="work-container">
        <img src="/static/img/smarter_hq.svg" alt="Smarter HQ" id="smarter-hq-image">
        <h4><strong>DevOps Intern</strong></h4>
        <p><strong><em>Carmel, IN</em></strong></p>
        <p><strong><em>June 2016 - August 2016, May 2017 - August 2017</em></strong></p>
        <h6 class="work-caption">
            <strong>Throughout both summers, I developed a wide range of tools to help SmarterHQ manage
                their DevOps processes more effectively and efficiently. During this time, I learned a
                lot about Amazon Web Services (AWS), along with several other technologies.</strong>
        </h6>
        <div class="container-fluid top-projects-container">
            <div class="row">
                <div class="col-12">
                    <h4 class="top-projects-title"><strong>Top Achievements at SmarterHQ</strong></h4>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-6 col-12 top-project">
                    <img src="/static/img/mongodb.png" alt="Mongo DB" class="project-logo">
                    <h5><strong>Mongo Backup Script</strong></h5>
                    <h6 class="work-project-caption">
                        <i class="fa fa-check"></i> Creates backups per <em>cluster</em>, not per <em>server</em>,
                        eliminating redundancy and unneeded expenses
                    </h6>
                    <h6 class="work-project-caption">
                        <i class="fa fa-check"></i> Finds secondary servers within each cluster, and locks them
                        before performing the backup, ensuring reliability
                    </h6>
                    <h6 class="work-project-caption">
                        <i class="fa fa-check"></i> Several different options available, so backups are performed
                        exactly how the user wants them
                    </h6>
                </div>

                <div class="col-xl-4 col-lg-6 col-12 top-project">
                    <img src="/static/img/staytus.png" alt="Staytus" class="project-logo">
                    <h5><strong>Internal Status Site</strong></h5>
                    <h6 class="work-project-caption">
                        <i class="fa fa-check"></i> Added Slack integration for status reporting
                    </h6>
                    <h6 class="work-project-caption">
                        <i class="fa fa-check"></i> Added LDAP integration so users can have consistent login credentials
                    </h6>
                    <h6 class="work-project-caption">
                        <i class="fa fa-check"></i> Added the ability to have sub-services within services
                    </h6>
                    <h6 class="work-project-caption">
                        <i class="fa fa-check"></i> Added the ability to have recurring maintenance sessions
                    </h6>
                </div>

                <div class="col-xl-4 col-lg-6 col-12 top-project">
                    <img src="/static/img/lambda.png" alt="Lambda" class="project-logo">
                    <h5><strong>Porting to AWS Lambda</strong></h5>
                    <h6 class="work-project-caption">
                        <i class="fa fa-check"></i> Allows scripts to be serverless
                    </h6>
                    <h6 class="work-project-caption">
                        <i class="fa fa-check"></i> Makes scripts easy to set up and maintain
                    </h6>
                    <h6 class="work-project-caption">
                        <i class="fa fa-check"></i> Significantly cuts costs, since servers are no longer
                        required
                    </h6>
                    <h6 class="work-project-caption">
                        <i class="fa fa-check"></i> Makes scripts easy to use, as you can invoke them using the
                        Lambda API
                    </h6>
                </div>
            </div>
        </div>
    </div>

    <div class="work-container">
        <img src="/static/img/taylor.png" alt="Taylor University" id="taylor-image">
        <h4><strong>Head Teacher's Assistant (TA)</strong></h4>
        <p><strong><em>Upland, IN</em></strong></p>
        <p><strong><em>February 2015 - May 2017</em></strong></p>
        <h6 class="work-caption">
            <strong>For two years, I led a team of a dozen Teacher's Assistants (TAs) for an introductory
                Computer Science course, vastly increasing my leadership and communication skills.
            </strong>
        </h6>
        <div class="container-fluid top-projects-container">
            <div class="row">
                <div class="col-12">
                    <h4 class="top-projects-title"><strong>Top Achievements as Head TA</strong></h4>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-6 col-12 top-project">
                    <img src="/static/img/leadership.png" alt="Leadership" class="project-logo">
                    <h5><strong>Leadership Role</strong></h5>
                    <h6 class="work-project-caption">
                        <i class="fa fa-check"></i> Managed weekly lab periods
                    </h6>
                    <h6 class="work-project-caption">
                        <i class="fa fa-check"></i> Gave instructions to the TAs during weekly meetings
                    </h6>
                    <h6 class="work-project-caption">
                        <i class="fa fa-check"></i> Ensured students received the help they needed
                    </h6>
                </div>

                <div class="col-xl-4 col-lg-6 col-12 top-project">
                    <img src="/static/img/unit_tests.png" alt="Unit Tests" class="project-logo">
                    <h5><strong>Unit Tests for Labs</strong></h5>
                    <h6 class="work-project-caption">
                        <i class="fa fa-check"></i> Automates the lab grading process
                    </h6>
                    <h6 class="work-project-caption">
                        <i class="fa fa-check"></i> Eliminates hours of tedious grading work
                    </h6>
                    <h6 class="work-project-caption">
                        <i class="fa fa-check"></i> Provides immediate feedback for students
                    </h6>
                    <h6 class="work-project-caption">
                        <i class="fa fa-check"></i> Checks for edge-cases TAs often miss
                    </h6>
                </div>

                <div class="col-xl-4 col-lg-6 col-12 top-project">
                    <img src="/static/img/gradetracker.png" alt="Grade Tracker" id="gradetracker-logo">
                    <h5><strong>GradeTracker Module</strong></h5>
                    <h6 class="work-project-caption">
                        <i class="fa fa-check"></i> Makes managing grades and showing reports easy and consistent
                    </h6>
                    <h6 class="work-project-caption">
                        <i class="fa fa-check"></i> Integrates with lab unit tests to provide simple but useful
                        grade-tracking methods
                    </h6>
                    <h6 class="work-project-caption">
                        <i class="fa fa-check"></i> Provides students consistent and user-friendly grade reports
                    </h6>
                    <h6 class="work-project-caption">
                        <i class="fa fa-check"></i> Optionally provides students hints for difficult problems, and
                        an inspirational quote upon completion of the lab
                    </h6>
                </div>
            </div>
        </div>
    </div>

    <button type="button" id="contact-work-history" data-toggle="modal" data-target="#contactModal">Contact Me</button>
</div>